span.badge-inline {
  position: initial !important;
  white-space: nowrap;
}

ul.inline-list li {
  display: inline;
  padding: 8px;
}

.transition-fab {
  margin-bottom: -70px; 
  border-radius: 55%;
}